body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    flex: 1;
    padding: 20px;
}

a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

li:hover {
    background: #e0e0e0;
}

button {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4fa3d2;
}

audio {
    display: block;
    width: 100%;
    margin: 20px 0;
}

div {
    margin: 20px;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

#volumeControl {
    width: 150px;  /* Smaller width for volume control */
}

#controls {
    position: fixed;
    bottom: 50px;  /* Adjust as needed to avoid overlapping with the seek bar */
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seekContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seekBar {
    width: 400px;
}

#currentTime, #totalTime {
    margin-left: 10px;
    font-size: 14px;
}

